* {
    color: rgb(236, 236, 236);
}
#container {
    width: 480px;
    background-color: rgb(230, 90, 90);
    margin: 0 auto;
}

#header {
    position: relative;
    height: 60px;
    color: rgb(236, 236, 236);
}

#header>#center-menu {
    position: absolute;
    top: 0;
    width: 480px;
    text-align: center;
}

#header>#right-menu {
    position: absolute;
    right: 0;
    top: 0;
}

#sub-header {
    display: none;
}

#menu:checked~#sub-header {
    display: block;
}

#sub-header>ul>li {
    float: left;
}

#sub-header>ul>li>a {
    text-align: center;
    display: block;
    width: 120px;
    padding: 15px 0;
    font-size: 0.9rem;
}

#content {
    padding: 3.5rem 2rem;
}

#content > h1 {
    padding-bottom: 1rem;
}

#content > p {
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
}

.swiper {
    height: 300px;
  }

#footer {
    padding: 1.5rem 0;
    text-align: center;
}